.armorChoose {
    margin: 10px;
    background-color: rgb(255, 207, 202);
    border-radius: 5px;
    border: solid 2px black;
    height: 40px;
    font-weight: bold;
}

.armorChoose__container {
    display: flex;
    flex-direction: column;
}