body {
    background-color: black;
    font-weight: bold;
    background: url(../assets/scrollBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Amita', cursive;
}