.textAlign {
    text-align: center;
}

.maxwitdh {
    width: 100%;
}

// Mes animations

// Vers le bas
@keyframes slide-in-blurred-top {
    0% {
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform-origin: 50% 0%;
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
}

// Containers
.generalContainer {
    animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    width: 30%;
    min-width: 200px;
    // background: url(../assets/scrollBackground.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px auto;
    padding: 2rem;
    border: double 8px black;
    border-radius: 25px;
    background-color: rgba(146, 19, 19, 0.644);
}

.movedCompNext {
    animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) reverse both;
}

.personalButton__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personalButton {
    width: 130px;
    height: 35px;
    background-color: salmon;
    border-radius: 20px;
    transition: 500ms;
    font-family: 'Amita', cursive;
    cursor: pointer;
    margin: 25px 10px 10px 10px;
}

.personalButton:hover {
    background-color: rgb(190, 97, 87);
    border-radius: 5px;
}