.help__Container {
    animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    min-width: 150px;
    // background: url(../assets/scrollBackground.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    flex-direction: column;
    border: double 8px black;
    border-radius: 20px;
    background-color: rgba(140, 158, 38, 0.644);
    padding: 1rem;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

@media only screen and (max-width: 800px) {
    .help__Container {
        width: 80%;
        padding: 1rem;
    }
}