.character__container {
    padding: 1rem;
    border: double 8px black;
    border-radius: 25px;
    background-color: rgba(146, 19, 19, 0.644);
    display: flex;
    justify-content: space-between;
}