.character__container {
    padding: 1rem;
    border: double 8px black;
    border-radius: 25px;
    background-color: rgba(146, 19, 19, 0.644);
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.character__consommable {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemEquipped {
    justify-content: flex-end;
}

.hpBar {
    background: linear-gradient(180deg, rgba(52, 49, 255, 0.377) 0%, rgba(64, 197, 69, 0.671) 100%);
    border: double 6px black;
    border-radius: 5px;
    width: 140px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hpBar>* {
    margin: 0 5px;
}


.hpBarHeart {
    background-image: linear-gradient(60deg, #E21143, #FFB03A);
    background-clip: text;
    color: #ff0000be;
}

.bandage__Button {
    border: double 6px black;
    border-radius: 5px;
    width: 152px;
    height: 40px;
    background-color: rgba(65, 160, 62, 0.247);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
    transition: 0.2s;
}

.bandage__Button:hover {
    border: double 6px black;
    border-radius: 2px;
    background-color: rgba(70, 201, 66, 0.534);
}

@media only screen and (max-width: 600px) {
    .character__container {
        font-size: 14px;
        flex-direction: column;
        text-align: center;
    }
}