.character__container {
    padding: 1rem;
    border: double 8px black;
    border-radius: 25px;
    background-color: rgba(146, 19, 19, 0.644);
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    width: 80%;
}

.character__consommable {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemEquipped {
    justify-content: flex-end;
}

.hpBar {
    background: linear-gradient(180deg, rgba(52, 49, 255, 0.377) 0%, rgba(64, 197, 69, 0.671) 100%);
    border: double 6px black;
    border-radius: 5px;
    width: 140px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hpBar>* {
    margin: 0 5px;
}


.hpBarHeart {
    background-image: linear-gradient(60deg, #E21143, #FFB03A);
    background-clip: text;
    color: #ff0000be;
}

.bandage__Button {
    border: double 6px black;
    border-radius: 5px;
    width: 152px;
    height: 40px;
    background-color: rgba(65, 160, 62, 0.247);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
    transition: 0.2s;
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
}

.bandage__Button:hover {
    border: double 6px black;
    border-radius: 2px;
    background-color: rgba(70, 201, 66, 0.534);
}

.character__level__container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

.character__gold__container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: 20px;
}

.character__gold {
    border: double 6px black;
    border-radius: 2px;
    background-image: linear-gradient(180deg, #87e21156, #ffb03acc);
    width: 90px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}

.character__level {
    border: double 6px black;
    border-radius: 2px;
    background-image: linear-gradient(180deg, #e2114256, #ffb03a69);
    width: 90px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}

.low-hp {
    -webkit-animation: vibrate-1 0.5s linear infinite both;
    animation: vibrate-1 0.5s linear infinite both;
}

@media only screen and (max-width: 800px) {
    .character__container {
        font-size: 14px;
        flex-direction: column;
        text-align: center;
    }

    .character__gold__container {
        margin: 8px auto 0 auto;
    }

    .character__gold {
        width: 140px;
    }

    .character__level {
        width: 140px;
    }

    .character__level__container {
        margin: 0 auto 0 auto;
    }


}

//Animation d'urgence 
@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-1px, 1px);
        transform: translate(-1px, 1px);
        border-radius: 10px;
    }

    40% {
        -webkit-transform: translate(-1px, -1px);
        transform: translate(-1px, -1px);
        background-color: rgba(15, 249, 7, 0.534);
    }

    60% {
        -webkit-transform: translate(1px, 1px);
        transform: translate(1px, 1px);
        border-radius: 5px;
    }

    80% {
        -webkit-transform: translate(1px, -1px);
        transform: translate(1px, -1px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}