.StartWeapons__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 250px auto;
}

.StartWeapons__list {
    // background: url(../assets/scrollBackground.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    width: 100%;
    min-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.WeaponsChoose {
    background-color: rgb(255, 207, 202);
    border-radius: 5px;
    border: solid 2px black;
    height: 40px;
    margin-top: 10px;
    font-weight: bold;
}

.weaponsButtons {
    width: 50%;
    margin: 0.5rem auto;
    transition: ease-in-out 0.4s;
    border-radius: 20px;
    height: 30px;
    background-color: salmon;
    cursor: pointer;
}

.weaponsButtons:hover {
    border-radius: 0px;
    background-color: rgb(241, 160, 151);
}