.statistic--container {
    width: 30%;
    background: url(../assets/scrollBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.restPoint {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.statistic_form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.statistic__unitary {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lessAndMore {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.lessColor {
    background: linear-gradient(180deg, rgba(255, 179, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
}

.moreColor {
    background: linear-gradient(180deg, rgba(49, 220, 255, 1) 0%, rgba(76, 175, 80, 1) 100%);
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: scale(1.2);
    }
}

.lessAndMore:hover {
    animation: rotate-center 0.3s ease-in-out both;
}


.resetButton__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.resetButton {
    width: 130px;
    height: 35px;
    background-color: salmon;
    border-radius: 20px;
    transition: 500ms;
    font-family: 'Amita', cursive;
    margin: 0 20px;
}

.resetButton:hover {
    background-color: rgb(190, 69, 55);
    border-radius: 0px;
}