.nameAndInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.inputPlaceholder {
    margin-top: 15px;
    border: solid 2px black;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(255, 207, 202);
    height: 50px;
}

.inputPlaceholder::placeholder {
    font-weight: bold;
    background-color: rgb(255, 207, 202);
    font-size: 20px;
    text-align: center;
}